* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "oxygen", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    max-width: 1370px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link-nav {
    text-transform: capitalize;
}

.logo {
    font-family: Rubik;
    font-size: 36px;
    font-weight: 900;
}

.header {
    padding: 40px 0;
}

.title {
    font-size: 64px;
    font-weight: 700;
}

.intro-head {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: flex-start;
    margin-bottom: 120px;
}

.intro-head div {
    width: 499px;
}

.intro-head .title {
    width: 504px;
}

.intro {
    padding: 70px;
}

.intro-head p {
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    font-family: Rubik;
    line-height: 30px;
    margin-bottom: 40px;

}

.intro-head a {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    font-family: Rubik;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.col-4 {
    width: 33.33%;
    padding: 15px;
}

.col-4 h4 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    line-height: 40.8px;
}

.col-4 p {
    font-size: 17px;
    font-weight: 400;
    color: #444444;
    line-height: 28.8px;
}

.phone {
    background-color: #EBD7CC;
    height: 100vh;
}

.wrapper-phone {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-top: 100px;
}

.wrapper-phone h1 {
    width: 950px;
    font-size: 64px;
    font-weight: 700;
    color: #1A1A1A;
    line-height: 64px;
}

.wrapper-phone p {
    font-family: Rubik;
    width: 750px;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 30.1px;
}

.wrapper-phone button {
    background-color: #3D67FF;
    color: #fff;
    padding: 15px 35px;
    border: none;
    border-radius: 60px;
}

.tons {
    display: flex;
}

.wrapper-img h1 {
    font-size: 64px;
    font-weight: 700;
    color: #1A1A1A;
    line-height: 64px;
    width: 500px;
}

.wrapper-img p {
    font-family: inter;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 32.4px;
    width: 450px;
}

.wrapper-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    height: 130%;
}

.button {
    background-color: #3D67FF;
    color: #fff;
    padding: 15px 23px;
    border: none;
    border-radius: 25px;
    width: 120px;
}

.tons h4 {
    font-family: inter;
    font-size: 17px;
    font-weight: 400;
    color: #1A1A1A;
}

.img {
    display: flex;
    height: 100vh;
    margin-bottom: 120px;

}

.svg {
    display: flex;
}

.wrapper-cood h2 {
    font-size: 64px;
    font-weight: 700;
    color: #1A1A1A;
    line-height: 64px;
    margin-top: 50px;
}

.wrapper-cood p {
    font-family: inter;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 32.4px;
}

.svg h4 {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    line-height: 37.4px;
}

.Good {
    height: 100vh;
}

.code {
    margin-left: 20px;
}

.wrapper-imagea {
    display: flex;
    height: 20%;
}

.option {
    display: flex;
    gap: 20px;
    width: 50vw;
    height: 50%;
    flex-wrap: wrap;
    margin-top: 20px;

    div {
        width: 45%;
    }

}

.too {
    margin-top: 50px;
}

.page {
    background-color: #E6EAF2;

}

.images {
    align-items: center;

}

.Social {
    display: flex;
    gap: 50px;
}

.media h1 {
    font-size: 64px;
    font-weight: 700;
    color: #1A1A1A;
    line-height: 64px;
}

.media p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 32.4px;
}

.media {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 150px;
}

.Building {
    height: 100vh;
    background-color: #FFCB39;
}

.wrapper-Building {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-top: 100px;

}

.wrapper-Building h1 {
    font-size: 64px;
    font-weight: 700;
    color: #1A1A1A;
    line-height: 64px;
    width: 700px;
}

.wrapper-Building p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 32.4px;
    width: 700px;
    font-family: Inter;
}

.wrapper-Building button {
    background-color: #3D67FF;
    color: #fff;
    padding: 15px 23px;
    border: none;
    border-radius: 25px;
    width: 120px;
}


.questions {
    display: flex;
}

.questions h1 {
    font-size: 64px;
    font-weight: 700;
    color: #1A1A1A;
    line-height: 64px;
}

.questions p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 32.4px;
    width: 700px;
    font-family: Inter;
}

.questions h3 {
    font-size: 19px;
    font-weight: 700;
    color: #111111;
    line-height: 34.4px;
    width: 700px;
}

.questions h5 {
    border-top: 1px solid black;
}

.pluse {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    padding-top: 100px;

}

.wrapper-usa {
    background-image: url(../assets/bg\ mask.jpg);
    height: 100vh;

}

.cities {
    flex-direction: column;
    width: 900px;
    gap: 80px;
    align-items: center;
    display: flex;
    text-align: center;
}

.assets {
    display: flex;
}

.title {
    text-align: center;
}

.deacription {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.col-4 {
    width: 33.33%;
    padding: 15px;
}

.wrapper-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100%;
    background-color: #F1F1F1;
    border-radius: 5px;
    padding: 50px;
}

.row button {
    background-color: red;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    color: #fff;
    height: 100px;
}

.features {
    height: 100vh;
}

.Track {
    height: 100vh;
}

.more h1 {
    font-size: 64px;
    font-weight: 700;
    color: #111111;
    line-height: 34.4px;
    line-height: 64px;
    width: 700px;
}

.more p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 32.4px;
    width: 700px;
    font-family: Inter;
}
.more button{
    background-color: indigo;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    display: flex;
}
.more .register{
    background-color: green;
    margin-left: 30px;
}
.more{
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
    display: flex; 
    margin-bottom: 300px;   
}
.Facebook{
    display: flex;
}
.Twitter{
  text-align: center;
}
.core{
    display: flex;
}
.Geoffrey{
    display: flex;
}